@import "./main/stylesheet";

@import "./main/reset";

//https://www.figma.com/file/rNiXqHCTlEwNN94O22bLUT/konstruct-template-(Copy)?node-id=0%3A1

html{
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
}

$bg-color: #FFF;
$tx-black: #48555B;
$it-blue: #00A4E5;

.container{
    width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (max-width: 970px){
    .container{
        width: 730px;
    }
}
@media (max-width: 729px){
    .container{
        max-width: 96%;
    }
}
/*@media (max-width: 424px){
    .container{
        width: 375px;
    }
}
@media (max-width: 374px){
    .container{
        width: 320px;
    }
}
*/
header{
    position: relative;
}
.header{
    background: url(../imgs/header.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 40px 0px 70px;

    &__logo-img{
        max-width: 100%;
    }
    &__title{}
    &__img{
        max-width: 100%;
    }
    &__text{
        padding: 20px 20px;
        color: $bg-color;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
    &__footer{
        color: $bg-color;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 3.7px;
    }
}
@media (max-width: 729px){
    .header{
        height: 100vh;
        padding: 40px 0;

        &__logo-img{
            max-width: 50%;
        }
        &__img{
            max-width: 80%;
        }
        &__text{
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        }
    }
}

nav{
    border-bottom: 1px solid #E6E6E6;
    background: $bg-color;
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

    &__logo{
        max-width: 100%;
    }
    &__list{}    
    &__item{
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
    }
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        padding-left: 20px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px;

        color: $tx-black;
    }
    &__link:hover{
        color: $it-blue;
        transition: color ease 0.3s;
    }
}
.active{
    color: $it-blue;
}
.our-history{
    margin: 30px 0px 30px;
}
.story{
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0px 57px;

    &__text{
        display: inline-block;
        position: relative; 
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    &__text:before{
        content: "";
        background-image: url(../imgs/line.png);
        position: absolute;
        left: 35px;
        top: 35px;
        width: 50px;
        height: 2px;

    }
}

.history{
    display: flex;
    flex: 0 0 50%;
    justify-content: space-between;
    align-items: flex-end;

    &__content{
        flex: 0 0 50%;
        max-width: 50%;
        color: $tx-black;
        padding-right: 75px;
    }
    &__rules{
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            justify-content: space-between;
    }

    &__title{
            font-weight: bold;
            font-size: 20px;
            line-height: 27px;
            padding: 0 0 30px;
    }
    &__text{
            font-size: 13px;
            line-height: 23px; 
    }
    &__title--blue{
            color: $it-blue;
    }
}
@media (max-width: 729px){
    
    .history{
        display: block;

        &__content{
            display: block;
            max-width: 100%;
            padding: 0;
        }
        &__text{
            padding: 0 0 30px;
        }
        &__rules{
            max-width: 100%;
            text-align: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}
.rule{
    position: relative;
    &__img{
        max-width: 100%;
    }
    &__text{
        position: absolute;
        left: 10px;
        top: 10px;
        color: $bg-color;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        text-align: left;
    }
}
@media (max-width: 970px){
    .rule__img{
        max-width: 90%;
    }
    .rule__text{
        left: 20px;
        font-size: 18px;
        font-weight: 700;
        
    }
}
@media (max-width: 729px){
    .rule{
        margin: 12px 10px;
    }
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 11px 0px;
    text-align: center;
    background-color: $it-blue;
    height: 40px;
    width: 150px;
    color: $bg-color;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    transition: opacity ease 0.3s;
}
.btn:hover{
    opacity: 0.7;
    transition: opacity ease 0.3s;
}
.capability{
    margin: 115px 0 100px;
}
.capability-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__title{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: $tx-black;
        width: 200px;
        position: relative;
        letter-spacing: 2px;
    }
    &__title:before{
        content: "";
        background-image: url(../imgs/line.png);
        position: absolute;
        top: 35px;
        width: 50px;
        height: 2px;

    }
    &__text{
        padding: 0 0 20px;
        font-size: 11px;
        line-height: 19px;
        color: $tx-black;
        width: 400px;
        margin-left: 120px;
    }
    &__btn{
        padding: 0 0 20px;
    }
}
.capability-bottom{
    display: flex;
    justify-content: space-between;
}
.capability-item{
    flex: 0 0 295px;
    max-width: 295px;
    padding: 38px 22px;
    margin: 10px;
    color: $tx-black;
    border: 1px solid #E6E6E6;
    

    &__img{}
    &__title{
        margin: 25px 0 13px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
    }
    &__text{
        font-size: 13px;
        line-height: 23px;
    }
}
@media (max-width: 970px){
    .capability{
        margin: 60px 0 0px;
    }
    .capability-header{
        justify-content: space-around;


        &__title{
            margin: 0 0 30px;
        }
        &__text{
            margin:0 60px;
        }
    }
    .capability-bottom{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 729px){
}
.build{
    background: url("../imgs/city.jpg");
    height: 498px;
    text-align: center;
    &__title{
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        color: $tx-black;
        width: 350px;
        margin: 120px 0 35px;
    }
    &__btn{

    }
}
@media (max-width: 729px){
    .build{
    }
    .build__title{
        margin: 30px 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
    }

}
@media (max-width: 374px){
    .build__title{
        width: 290px;
        font-size: 22px;
        line-height: 26px;
    }
}
.subscribe{
    background: #171819;
    
}
.email{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    &__text{
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 1px;
        color: $bg-color;
    }
    &__form{
        display: flex;
    }
    &__input{
        border: none;
        width: 250px;
        height: 40px;
        padding: 0 15px;
        margin: 0 0 20px;
    }
    &__input:hover{
        border: 1px solid $tx-black;
    }
    &__btn{
        letter-spacing: 1px;
        border: none;
    }

}
@media (max-width: 729px){
    .email{
        display: block;
    }
    .email__text{
        padding: 0 0 20px;
        text-align: center;
    }
    .email__form{
        flex-direction: column;
        align-items: center;
    }

}
.info{
    background: #141A20;
    color: $bg-color;
    padding: 30px 0;
}
.info-inner{
    display: flex;
    justify-content: space-between;
}

.info-text{
    width: 250px;
    margin: 10px;
    &__title{
        text-transform: uppercase;
        font-size: 11px;
        line-height: 15px;
    }
    &__logo{
        margin: 19px 0px 15px;
    }
    &__content{
        font-size: 11px;
        line-height: 19px;
        letter-spacing: 0.85px;
    }
}
.info-menu{
    margin: 10px;
    text-transform: uppercase;
}
.info-menu__title{
    font-size: 11px;
    line-height: 15px;
    padding: 0 0 10px;
}
.info-menu__content{
    display: flex;
    justify-content: space-between;
    width: 262px;
}
.info-item{
    &__link{
        color: $bg-color;
        text-decoration: none;
        font-weight: 600;
        font-size: 11px;
        line-height: 25px;
        
        letter-spacing: 0.85px;   
    }
    &__link:hover{
        color:$it-blue;
        transition: color ease 0.3s;
    }
}
.info-contact{
    margin: 10px;
}
.contact-items{
    width: 141px;    
}
.contact-item{
    width: 141px;
    &__title{
        text-transform: uppercase;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.85px;
        margin: 0 0 15px;
    }
    &__link{
        color: $bg-color;
        text-decoration: none;
        font-size: 11px;
        line-height: 16px;
    }
        letter-spacing: 0.85px;
    &__link:hover{
        color:$it-blue;
        transition: color ease 0.3s;
    }
}
.contact-item:nth-child(3){
    margin: 10px 0;    
}
.info-icon{
    margin: 30px 10px 10px;
    &__img{
        max-width: 100%;
    }
    &__img:hover{
        border-bottom: 1px solid $it-blue;
    }
}
.footer{
    background-color: #171819;
    &__text{
        text-align: center;
        padding: 23px 0 23px;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.85px;
        color: $bg-color;
    }
}
@media (max-width: 970px){
    .info-inner{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

