extends layout/layout

block vars
    - var pageTitle = 'Mакет №2 gulp'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content
    //- здесь код страницы
    header
        .header
            .header__logo 
                img(src="../assets/imgs/logoWhite.png", alt="logo")
            .header__title
                img.header__title-img(src="../assets/imgs/titleImg.png", alt="titleImg")
                //это тоже не модификатор, а элемент
                .header__title--text An award-winning construction management firm
            .header__footer Scroll down
    nav
        .container
            .nav
                .nav__logo
                    img(src="../assets/imgs/logoBlack.png", alt="logo")
                ul.nav__content
                    // что-то перемудрено, -- это модификатор, здесь просто элементы
                    li.nav__content--item 
                        a.nav__content--link(href="#") Home
                    li.nav__content--item 
                        a.nav__content--link.active(href="#") About
                    li.nav__content--item 
                        a.nav__content--link(href="#") Services
                    li.nav__content--item 
                        a.nav__content--link(href="#") Work
                    li.nav__content--item 
                        a.nav__content--link(href="#") Contact
    section.our-history
        .container
            .story
                .story__text Our story 
            .history
                .history__content
                    //тоже модификаторы не нужны
                    h2.history__content--title Founded in 2011 by John Mathew Smith, <span class="history__content--title-blue">Konstruct</span> has become the number one construction management firm
                    p.history__content--text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                .history__rules
                    // здесь можно миксин с переменной для картинки
                    .rule
                        img.rule__img(src="../assets/imgs/wePlan.png" alt="wePlan")
                        span.rule__text we </br> plan
                    .rule
                        img.rule__img(src="../assets/imgs/manage.png" alt="weManage")
                        span.rule__text we </br> manage
                    .rule
                        img.rule__img(src="../assets/imgs/build.png" alt="weBuild")
                        span.rule__text we </br> build
    section.capability
        .container
            .capability-header
                .capability-header__title OUR CAPABILITIES
                .capability-header__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                .capability-header__btn
                    a.btn(href="#") ALL SERVICES
            .capability-bottom
                <!-- Здесь сделать миксином???-->
                // да, можно миксин с одной переменной для картинки
                .capability-item
                    .capability-item__img
                        img(src="../assets/imgs/notebook.png", alt="notebookPicture")
                    .capability-item__title PROJECT AND CONSTRUCTION MANAGEMENT
                    .capability-item__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                .capability-item
                    .capability-item__img
                        img(src="../assets/imgs/shop.png", alt="shopPicture")
                    .capability-item__title STRUCTURE AUDIT AND MAINTENANCE
                    .capability-item__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                .capability-item
                    .capability-item__img
                        img(src="../assets/imgs/house.png", alt="housePicture")
                    .capability-item__title FACTORY CONSTRUCTION AND MODELING
                    .capability-item__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.

    .build
        .build__title Want to build something amazing?
        .build__btn 
            a.btn(href="#") GET IN TOUCH
    .subscribe
        .container 
            .email 
                .email__text Newsletter Signup
                form.email__form
                    //опять модификаторы
                    input.email__form--input(type="text" placeholder="test@youremail.com")
                    button.btn.email__form--btn SIGNUP
    section.info
        .container
            .info-inner
                .info-text
                    .info-text__title Company
                    .info-text__logo
                        img(src="../assets/imgs/logoWhite.png", alt="logo") 
                    .info-text__content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
                .info-menu
                    .info-menu__title links
                    .info-menu__content
                        ul.info-items
                            mixin item(text)
                                li.info-item 
                                    a.info-item__link(href="#")=text
                            +item('home')
                            +item('about')
                            +item('services')
                            +item('projects')
                            +item('contact us')
                        ul.info-menu__inner
                            +item('faq')
                            +item('terms')
                            +item('careers')
                        ul.info-menu__inner 
                            +item('blog')
                            +item('partners')
                            +item('news')
                .info-contact
                    ul.contact-items
                        li.contact-item
                            p.contact-item__title contact us
                        li.contact-item 
                            a.contact-item__link(href="#") 213 Baker Street Oriel City Kounty 7000 KNW, Kountry Name 
                        li.contact-item 
                            a.contact-item__link(href="#") +23 994 233 4022
                        li.contact-item 
                            a.contact-item__link(href="#")  info@konstruct.com
                .info-icons
                    .p здесь будут </br>ссылки на соцсети)